<h1>Sanctuary Cities</h1>
<h2>sanctuary definition: a place of refuge or saftey</h2>
<p>In the current political climate, local and state governments accross the country
  have become self-declared sanctuaries for migrants and have declared an unwillingness
  to conform to aggressive federal enforcment of immigration laws in order to protect vulnerable
  communities.</p>
<h3>Vote on cities based on how safe you feel they are for migrants</h3>
<p>Your vote or comment can help to define "sanctuary" as it relates to a particular city<p>
